{% extends 'base.html.twig' %}

{% block title %}BizNews{% endblock %}

{% block body %}
    <!-- Main News Slider Start -->
    <div class="container-fluid">
        <div class="row">

                <div class="col-lg-7 px-0">
                    <div class="owl-carousel main-carousel position-relative">
                        {% for post in sliderNews %}
                            <div class="position-relative overflow-hidden" style="height: 500px;">
                                <img class="img-fluid h-100" src="{{ post.GetImage() }}" style="object-fit: cover;">
                                <div class="overlay">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                           href="{{ path('app_category', {slug: post.category.slug}) }}">{{ post.category.name }}</a>
                                        <a class="text-body" href="{{ path('app_posts_search', {date: post.rawCreatedAt.format(
                                            constant('App\\Entity\\Post::DATE_FORMAT_FOR_SEARCH')
                                        )}) }}">{{ post.createdAt }}</a>
                                    </div>
                                    <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{{ path('app_post', {slug: post.slug}) }}">
                                        {{ post.title|slice(0, 50) ~ '...' }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-5 px-0">
                    <div class="row mx-0">
                        {% for post in nearToSliderNews %}
                            <div class="col-md-6 px-0">
                                <div class="position-relative overflow-hidden" style="height: 250px;">
                                    <img class="img-fluid w-100 h-100" src="{{ post.GetImage() }}" style="object-fit: cover;">
                                    <div class="overlay">
                                        <div class="mb-2">
                                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                               href="{{ path('app_category', {slug: post.category.slug}) }}">{{ post.category.name }}</a>
                                            <a class="text-body" href="{{ path('app_posts_search', {date: post.rawCreatedAt.format(
                                                constant('App\\Entity\\Post::DATE_FORMAT_FOR_SEARCH')
                                            )}) }}"><small>{{ post.createdAt }}</small></a>
                                        </div>
                                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{ path('app_post', {slug: post.slug}) }}">
                                            {{ post.title|slice(0, 31) ~ '...' }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
    <!-- Main News Slider End -->


    <!-- Breaking News Start -->
    <div class="container-fluid bg-dark py-3 mb-3">
        <div class="container">
            <div class="row align-items-center bg-dark">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">Breaking News</div>
                        <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                             style="width: calc(100% - 170px); padding-right: 90px;">
                            {% for post in breakingNews %}
                                <div class="text-truncate">
                                    <a class="text-white text-uppercase font-weight-semi-bold" href="{{ path('app_post', {slug: post.slug}) }}">
                                        {{ post.title|slice(0,100) ~ "..." }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breaking News End -->


    <!-- Featured News Slider Start -->
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">Featured News</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
                {% for post in featuredNews %}
                    <div class="position-relative overflow-hidden" style="height: 300px;">
                        <img class="img-fluid h-100" src="{{ post.getImage() }}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                   href="{{ path('app_category', {slug: post.category.slug}) }}">{{ post.category.name }}</a>
                                <a class="text-white" href=""><small>{{ post.createdAt }}</small></a>
                            </div>
                            <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{ path('app_post', {slug: post.slug}) }}">
                                {{ post.content|slice(0, 31) ~ '...' }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h4 class="m-0 text-uppercase font-weight-bold">Latest News</h4>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="{{ path('app_posts') }}">View All</a>
                            </div>
                        </div>

                        {% for post in latestNews %}
                            {% if loop.index <= 2 %}
                                {{ component('post-medium', {post: post}) }}
                            {% endif %}

                            {% if loop.index == 3 %}
                                <div class="col-lg-12 mb-3">
                                    <a href=""><img class="img-fluid w-100" src="img/ads-728x90.png" alt=""></a>
                                </div>
                            {% endif %}

                            {% if loop.index >= 3 and loop.index <= 4 %}
                                {{ component('post-medium', {post: post}) }}
                            {% endif %}

                            {% if loop.index == 5 or loop.index == 7 or loop.index == 10 or loop.index == 12%}
                                <div class="col-lg-6">
                            {% endif %}

                            {% if (loop.index >= 5 and loop.index <= 8) or (loop.index >= 10 and loop.index <= 13) %}
                                {{ component('post-small', {post: post}) }}
                            {% endif %}

                            {% if (loop.index == 6 or loop.index == 8) or (loop.index == 11 or loop.index == 13) %}
                                </div>
                            {% endif %}

                            {% if loop.index == 9 %}
                                <div class="col-lg-12 mb-3">
                                    <a href=""><img class="img-fluid w-100" src="img/ads-728x90.png" alt=""></a>
                                </div>

                                <div class="col-lg-12">
                                    {{ component('post-big', {post: post}) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-4">
                    {{ component('follow-us') }}

                    {{ component('ads') }}

                    {{ component('trending-news') }}

                    {{ component('subscribe-newsletter') }}

                    {{ component('tags-cloud') }}
                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
{% endblock %}
