{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {{ component('breaking-news') }}

    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="{{ post.imagePath }}" style="object-fit: cover;" alt="">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                   href="">{{ post.category.name }}</a>
                                <a class="text-body" href="{{ path('app_posts_search', {date: post.createdAt.format(
                                    constant('App\\Entity\\Post::DATE_FORMAT_FOR_SEARCH')
                                )}) }}">{{ post.formattedCreatedAt }}</a>
                            </div>
                            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{ post.title }}</h1>
                            {{ post.content }}
                        </div>
                        <div class="d-flex justify-content-end bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>{{ post.views }}</span>
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>123</span>
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->

                    <!-- Comment List Start -->
                    <div class="mb-3" id="comments">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">{{ post.comments.count() }} Comments</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            {% for comment in comments %}
                                <div class="media mb-4">
                                    <img src="{{ comment.user.avatarPath }}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                    <div class="media-body">
                                        <h6><a class="text-secondary font-weight-bold" href="">{{ comment.user.name }}</a> <small><i>{{ comment.createdAt }}</i></small></h6>
                                        <p>{{ comment.content }}</p>
                                        <button class="btn btn-sm btn-outline-secondary reply-btn" data-comment-id="{{ comment.id }}">Reply</button>

                                        {% for childComment in comment.comments %}
                                            <div class="media mt-4">
                                                <img src="{{ childComment.user.avatarPath }}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                                <div class="media-body">
                                                    <h6><a class="text-secondary font-weight-bold" href="">{{ childComment.user.name }}</a> <small><i>{{ childComment.createdAt }}</i></small></h6>
                                                    <p>{{ childComment.content }}</p>
                                                    <button class="btn btn-sm btn-outline-secondary reply-btn" data-comment-id="{{ comment.id }}">Reply</button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <div class="mb-3" id="comment-form">
                        {% if app.user %}
                            <div class="section-title mb-0">
                                <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
                            </div>
                            <div class="bg-white border border-top-0 p-4">
                                <form method="POST" action="{{ path('app_comment', {slug: post.slug}) }}">
                                    <input type="hidden" name="parent_id">
                                    <div class="form-group">
                                        <label for="message">Message*</label>
                                        <textarea id="message" name="content" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave a comment"
                                               class="btn btn-primary font-weight-semi-bold py-2 px-3">
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="section-title mb-0">
                                <h4 class="m-0 text-uppercase font-weight-bold">Please <a href="{{ path('app_login') }}">authorize</a> to leave a comment</h4>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Comment Form End -->
                </div>

                <div class="col-lg-4">
                    {{ component('follow-us') }}

                    {{ component('ads') }}

                    {{ component('trending-news') }}

                    {{ component('subscribe-newsletter') }}

                    {{ component('tags-cloud') }}
                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelectorAll('.reply-btn').forEach((replyBtn) => {
            replyBtn.addEventListener('click', (event) => {
                event.stopPropagation()

                document.querySelector('#comment-form input[name="parent_id"]').value = event.target.dataset.commentId
                document.getElementById("comment-form").scrollIntoView();
            })
        })
    </script>
{% endblock %}
