<div class="col-lg-4 col-md-6 mb-5">
    <h5 class="mb-4 text-white text-uppercase font-weight-bold">Get In Touch</h5>
    <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>{{ this.COMPANY_ADDRESS }}</p>
    <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>{{ this.COMPANY_PHONE }}</p>
    <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i><a href="mailto:{{ this.COMPANY_EMAIL }}">{{ this.COMPANY_EMAIL }}</a></p>
    <h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">Follow Us</h6>
    <div class="d-flex justify-content-start">
        <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="{{ this.TWITTER_LINK }}"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="{{ this.FACEBOOK_LINK }}"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="{{ this.LINKEDIN_LINK }}"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="{{ this.INSTAGRAM_LINK }}"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-lg btn-secondary btn-lg-square" href="{{ this.YOUTUBE_LINK }}"><i class="fab fa-youtube"></i></a>
    </div>
</div>
