<div class="col-lg-4 col-md-6 mb-5">
    <h5 class="mb-4 text-white text-uppercase font-weight-bold">Popular News</h5>

    {% for post in this.trendingNews %}
        <div class="mb-3">
            <div class="mb-2">
                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="{{ path('app_category', {slug: post.category.slug}) }}">
                    {{ post.category.name }}
                </a>
                <a class="text-body" href=""><small>{{ post.createdAt }}</small></a>
            </div>
            <a class="small text-body text-uppercase font-weight-medium" href="{{ path('app_post', {post: post.id}) }}">
                {{ post.title|slice(0,55) ~ '...' }}
            </a>
        </div>
    {% endfor %}
</div>
