<div class="d-flex align-items-center bg-white mb-3 post-small" style="height: 110px;">
    <img class="img-fluid" src="{{ post.imagePath }}" alt="">
    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
        <div class="mb-2">
            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="{{ path('app_category', {slug: post.category.slug}) }}">
                {{ post.category.name }}
            </a>
            <a class="text-body" href="{{ path('app_posts_search', {date: post.createdAt.format(
                constant('App\\Entity\\Post::DATE_FORMAT_FOR_SEARCH')
            )}) }}"><small>{{ post.formattedCreatedAt }}</small></a>
        </div>
        <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{{ path('app_post', {slug: post.slug}) }}">
            {{ post.title|slice(0,31) ~ '...' }}
        </a>
    </div>
</div>
