<div class="col-lg-6">
    <div class="position-relative mb-3">
        <img class="img-fluid w-100" src="{{ post.getImage() }}" style="object-fit: cover;">
        <div class="bg-white border border-top-0 p-4">
            <div class="mb-2">
                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                   href="{{ path('app_category', {slug: post.category.slug}) }}">{{ post.category.name }}</a>
                <a class="text-body" href="{{ path('app_posts_search', {date: post.rawCreatedAt.format(
                    constant('App\\Entity\\Post::DATE_FORMAT_FOR_SEARCH')
                )}) }}">
                    <small>{{ post.createdAt }}</small>
                </a>
            </div>
            <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{{ path('app_post', {slug: post.slug}) }}">
                {{ post.title|slice(0,31) ~ '...' }}
            </a>

            {% if showContent %}
                <p class="m-0">{{ post.content|slice(0, 116) ~ '...' }}</p>
            {% endif %}
        </div>
        <div class="d-flex justify-content-end bg-white border border-top-0 p-4">
            <div class="d-flex align-items-center">
                <small><i class="far fa-eye mr-2"></i>{{ post.views }}</small>
                <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
            </div>
        </div>
    </div>
</div>
