<div class="row news-lg mx-0 mb-3">
    <div class="col-md-6 h-100 px-0">
        <img class="img-fluid h-100" src="{{ post.getImage() }}" style="object-fit: cover;">
    </div>
    <div class="col-md-6 d-flex flex-column border bg-white h-100 px-0">
        <div class="mt-auto p-4">
            <div class="mb-2">
                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                   href="">{{ post.category.name }}</a>
                <a class="text-body" href=""><small>{{ post.createdAt }}</small></a>
            </div>
            <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{{ path('app_post', {post: post.id}) }}">
                {{ post.title|slice(0,31) ~ '...' }}
            </a>
            <p class="m-0">
                {{ post.content|slice(0,96) ~ '...' }}
            </p>
        </div>
        <div class="d-flex justify-content-end bg-white border-top mt-auto p-4">
            <div class="d-flex align-items-center">
                <small class="ml-3"><i class="far fa-eye mr-2"></i>{{ post.views }}</small>
                <small class="ml-3"><i class="far fa-comment mr-2"></i>123</small>
            </div>
        </div>
    </div>
</div>
